.results-container {
  width: 600px;
  height: 420px;
  background-color: rgb(248, 250, 252);
  border-radius: 30px;
  display: flex;
}

.result-container {
  background-image: linear-gradient(
    to bottom,
    var(--primary-light),
    var(--primary-dark)
  );
  width: 50%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.circle-score-container {
  background-image: linear-gradient(to bottom, var(--primary-darker), #4c32ed);
  height: 160px;
  width: 160px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-score {
  font-size: 50px;
  font-weight: bolder;
}

.circle-score-text {
  margin: 0;
  color: #c4c4fe;
}

.result-rating-container {
  padding: 10px;
}

.result-rating {
  margin-top: 10px;
  margin-bottom: 0;
}

.result-description {
  margin-top: 0;
  padding: 10px 25px;
  line-height: 1.2rem;
  color: #c4c4fe;
}

.summary-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
}

.summary-title {
  color: #5b5b61;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 35px;
  align-self: flex-start;
}

.skill-container {
  display: flex;
  width: 235px;
  height: 43px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  z-index: 2 !important;
  margin: 7px;
}

.corner-accent {
  position: absolute;
  height: 7px;
  width: 7px;
}

.top-left-corner-accent {
  left: 0;
  top: 0;
  border-top-left-radius: 10px;
}
.top-right-corner-accent {
  right: 0;
  top: 0;
  border-top-right-radius: 10px;
}
.bottom-left-corner-accent {
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10px;
}
.bottom-right-corner-accent {
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 10px;
}

.skill-type {
  display: flex;
}

.skill-icon {
  padding: 10px;
  width: 16px;
}

.skill-title {
  font-size: 14px;
  font-weight: bold;
}

.skill-score {
  padding: 10px;
}

.your-score {
  color: #5b5b61;
  font-weight: bold;
}

.total-score {
  color: #9b999e;
  font-weight: bold;
}

.continue-button {
  margin-top: 23px;
  padding: 12px;
  width: 235px;
  border-radius: 25px;
  background-color: #313b58;
}

.continue-button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--primary-light),
    var(--primary-dark)
  );
}

/* Colors of the skill-containers */
/* Reaction */
.skill-container.reaction {
  background-color: #f5eceab4;
}

.skill-container.reaction .top-left-corner-accent {
  border-top: 1px solid rgba(255, 0, 0, 0.144);
  border-left: 1px solid rgba(255, 0, 0, 0.144);
}

.skill-container.reaction .top-right-corner-accent {
  border-top: 1px solid rgba(255, 0, 0, 0.144);
  border-right: 1px solid rgba(255, 0, 0, 0.144);
}

.skill-container.reaction .bottom-left-corner-accent {
  border-bottom: 1px solid rgba(255, 0, 0, 0.144);
  border-left: 1px solid rgba(255, 0, 0, 0.144);
}

.skill-container.reaction .bottom-right-corner-accent {
  border-bottom: 1px solid rgba(255, 0, 0, 0.144);
  border-right: 1px solid rgba(255, 0, 0, 0.144);
}

.skill-container.reaction .skill-title {
  color: #f85354;
}

/* Memory */
.skill-container.memory {
  background-color: #fffbf2;
}

.skill-container.memory .top-left-corner-accent {
  border-top: 1px solid rgba(251, 255, 0, 0.692);
  border-left: 1px solid rgba(251, 255, 0, 0.692);
}

.skill-container.memory .top-right-corner-accent {
  border-top: 1px solid rgba(251, 255, 0, 0.692);
  border-right: 1px solid rgba(251, 255, 0, 0.692);
}

.skill-container.memory .bottom-left-corner-accent {
  border-bottom: 1px solid rgba(251, 255, 0, 0.692);
  border-left: 1px solid rgba(251, 255, 0, 0.692);
}

.skill-container.memory .bottom-right-corner-accent {
  border-bottom: 1px solid rgba(251, 255, 0, 0.692);
  border-right: 1px solid rgba(251, 255, 0, 0.692);
}

.skill-container.memory .skill-title {
  color: #fab22a;
}

/* Verbal */
.skill-container.verbal {
  background-color: #c6f3dc5e;
}

.skill-container.verbal .top-left-corner-accent {
  border-top: 1px solid rgba(0, 255, 21, 0.342);
  border-left: 1px solid rgba(0, 255, 21, 0.342);
}

.skill-container.verbal .top-right-corner-accent {
  border-top: 1px solid rgba(0, 255, 21, 0.342);
  border-right: 1px solid rgba(0, 255, 21, 0.342);
}

.skill-container.verbal .bottom-left-corner-accent {
  border-bottom: 1px solid rgba(0, 255, 21, 0.342);
  border-left: 1px solid rgba(0, 255, 21, 0.342);
}

.skill-container.verbal .bottom-right-corner-accent {
  border-bottom: 1px solid rgba(0, 255, 21, 0.342);
  border-right: 1px solid rgba(0, 255, 21, 0.342);
}

.skill-container.verbal .skill-title {
  color: #2fbb91;
}

/* Visual */
.skill-container.visual {
  background-color: #eaeafa;
}

.skill-container.visual .top-left-corner-accent {
  border-top: 1px solid rgba(0, 26, 255, 0.144);
  border-left: 1px solid rgba(0, 26, 255, 0.144);
}

.skill-container.visual .top-right-corner-accent {
  border-top: 1px solid rgba(0, 26, 255, 0.144);
  border-right: 1px solid rgba(0, 26, 255, 0.144);
}

.skill-container.visual .bottom-left-corner-accent {
  border-bottom: 1px solid rgba(0, 26, 255, 0.144);
  border-left: 1px solid rgba(0, 26, 255, 0.144);
}

.skill-container.visual .bottom-right-corner-accent {
  border-bottom: 1px solid rgba(0, 26, 255, 0.144);
  border-right: 1px solid rgba(0, 26, 255, 0.144);
}

.skill-container.visual .skill-title {
  color: #2123d3;
}
